.hospital-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.hospital-logo {
  height: 50px;
  width: auto;
  margin-right: 15px;
  object-fit: contain;
}

.hospital-header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  margin: 0;
  color: rgb(10, 133, 248);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
