 
.medication-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.medication-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/medications.png');
  background-size: cover;
  background-position: center;
  filter: blur(8px);     /* Adjust blur strength */
  opacity: 0.6;          /* Optional: soften appearance */
  z-index: 0;
  pointer-events: none;  /* Ensure background doesn’t block clicks */
}

.medication-background > * {
  position: relative;
  z-index: 1;
}

.mt-4{
  overflow-y: auto;
    background-color: rgba(112, 112, 112, 0.685);
    border-radius: 10px;
    padding:1rem;
    background-size: cover;
  background-position: center;
 
}

.btn-med{
   width:fit-content;
  height:40px;
 
  font-family: "Roboto",sans-serif;
    font-weight: bold;
    box-shadow: rgba(56, 70, 67, 0.25) 0px 14px 28px, rgba(38, 65, 63, 0.22) 0px 10px 10px;
 
   background-color: #1a73e8;
  color: #ffffff;
  padding: 10px 32px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right:1%;
}
.btn-med:hover {
  background-color: #0a498d;
}
 
.btn-med:focus {
  outline: none;
}