.patient-list-background{
    width:90%;
}

.container-1 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 20%;
    flex-direction: row;
    /* box-sizing: border-box; */
}
.header-name {
  background-color: #2674daaf;
  width: fit-content;  /* better than fixed 20% */
  padding: 10px 20px;
  
  margin-right: 50%;
}
.heading-content {
  color: white;
  font-size: 18px;
  text-align: center;
}


.heading-1{
  margin-left:35%;
  width:30%;
  height:25%;
  background-color: #2674daaf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-two{
    width:100%;
    padding:2%;
    justify-content: center;
}
.search-options{
  margin-top:4%;
  justify-content: center;
  display: flex;
}
.search-name{
  width:20%;
  margin-right:2%;
}

/* Blue Buttons - Common for Patient & Appointment */
.btn-blue {
  background-color: #1a73e8;
  color: #ffffff;
  padding: 10px 28px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

}

.btn-blue:hover {
  background-color: #0a498d; /* Darker blue on hover */
}

.btn-blue:focus {
  outline: none;
}

/* Red Logout Button */
.btn-red {
  background-color: #e53935;
  color: #ffffff;
  padding: 10px 28px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-red:hover {
  background-color: #a52725; /* Darker red on hover */
}

.btn-red:focus {
  outline: none;
}
